/* Reset a základní styl */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #002E59;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.custom-tooltip {
  font-size: 1em;
  line-height: 1.5;
  color: #002E59;
  max-width: 400px;
  background-color: white;
  border: 1px solid #002E59;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.tool-item:hover {
  text-decoration: underline;
  color: #005b99;
  cursor: pointer;
}

.container {
  display: flex;
  cursor: default;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 60px;
  padding: 40px;
  box-sizing: border-box;
}

.lifecycle {
  position: relative;
  cursor: default;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
}

.step {
  position: absolute;
  cursor: default;
  width: 150px;
  height: 150px;
  background-color: #FFFFFF;
  color: #FF7A01;
  border: 3px solid #FF7A01;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: rotate(var(--angle)) translate(170px) rotate(calc(-1 * var(--angle)));
  left: 50%;
  top: 50%;
  transform-origin: center;
}

.step:hover {
  background: #FF7A01;
  color: #FFFFFF;
  cursor: pointer;
}

.step.active {
  background-color: #FF7A01; /* tmavě modrá */
  color: #FFFFFF;
  border-radius: 50%;
}

.info {
  display: flex;
  cursor: default;
  flex-direction: column;
  gap: 50px;
  max-width: 600px;
  flex: 1;
}

.description-box,
.tools-box {
  background-color: #F0F0F0;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.tools-box ul {
  padding-left: 20px;
  margin: 0;
}

.tools-box li {
  margin-bottom: 8px;
}

h2 {
  color: #002E59;
  margin-top: 0;
}

/* RESPONSIVE DESIGN */
@media (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 30px 20px;
    min-height: auto;
  }

  .lifecycle {
    width: 300px;
    height: 300px;
  }

  .step {
    width: 80px;
    height: 80px;
    font-size: 0.85rem;
    transform: rotate(var(--angle)) translate(125px) rotate(calc(-1 * var(--angle)));
  }

  .info {
    max-width: 100%;
    width: 100%;
  }
}

